/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 18px;
}
